/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';


body{
    margin:0px;
    padding:0px;
     /* background: linear-gradient(-90deg, rgb(0, 0, 0), white, rgb(0, 0, 0)); */
       background: linear-gradient(-90deg, rgb(201, 19, 104),rgb(255, 192, 203), rgb(196, 26, 131));
     
}
